# Use A, P, and V to restrict media 'type' in directory
media_dir=A,{{ hard_drive_mount_point }}/media/music
friendly_name=RPI Jukebox
db_dir={{ minidlna_db_dir }}
log_dir={{ minidlna_log_dir }}
inotify=yes
