# Use A, P, and V to restrict media 'type' in directory
{% if hard_drive.music_path is defined%}
media_dir=A,{{ hard_drive.mount_point }}/media/music
{% endif %}
{% if hard_drive.video_path is defined %}
media_dir=V,{{ hard_drive.mount_point }}/media/video
{% endif %}

friendly_name={{ service_name }}
db_dir={{ minidlna.db_dir }}
log_dir={{ minidlna.log_dir }}
inotify=yes
notify_interval=895

album_art_names=Cover.jpg/cover.jpg/album.jpg/Album.jpg
enable_tivo=yes
strict_dlna=no
